###################
### `I` GENERAL ###
###################
# Environment Variables & Secrets

.env
.envrc
.venv
.env.*
!.env.example

# Dev Artifacts
/scratch.*
/.scratch.*
/tmp/
.cache/
local_cache/

# Logs & Errors
/logs/
/prof/
/out/
*.log*
*.error*
*.pid
*.pid.lock

# Packaging & Publishing
dist/
sdist/

###################
### `II` PYTHON ###
###################
# Compilation
*.py.class
*.pyc
*.pyd
*.pyo
.so
__pycache__

# Testing & Typing
.dmypy.json
.mypy_cache/
.pyre/
.pytest_cache/
.ruff_cache/
dmypy.json

# Dependencies
.python-version
.venv/
venv/
/.pypirc

# Notebooks
.ipynb_checkpoints
ipython_config.py
profile_default/

# Documentation
_build/

# Publishing
*.egg
*.egg-info/
.eggs/
build/
develop-eggs/
eggs/
pip-wheel-metadata/
share/python-wheels/
wheels/

# Misc / Unknown
.installed.cfg
.Python
/.streamlit/secrets.toml
__pypackages__/
downloads/
lib/
lib64/
MANIFEST
parts/
var/


########################
### `III` TYPESCRIPT ###
########################
# Packaging
*.pem
.next/
.vercel
/out/
build/
next-env.d.ts

# Dependencies
.npm
.nuxt
node_modules/
package-lock.json
web_modules/
yarn.lock

# Packaging
*.tsbuildinfo
.pnp.*
.pnp/

# Other Frameworks
.firebase/
.nyc_output
.output
.parcel-cache
.serverless/
.stylelintcache
.svelte-kit/
.temp

#########################
### `IV` ENVIRONMENTS ###
#########################
# IDEs
*.code-workspace
.idea/
.spyderproject
.spyproject
.vscode/

# Operating Systems 
.DS_Store

#################
### `V` OTHER ###
#################
*.cover
.coverage
coverage.md
.coverage.*
coverage.xml
coverage/
lib-cov

.task
.hypothesis/
.nox/
.ropeproject
.tox/
htmlcov/
nosetests.xml

# SublimeText
Preferences.sublime-settings
formatter.assets/
