{% extends "document.md.jinja" %}
{% if notes and level <= 1%}
---
{{notes}}
---
{% endif %}
{% block header %}{{ header }}{% endblock %}

{% if notes and level > 1%}
```yaml
{{notes}}
```

{% endif %}
{% block prose %}{{ prose }}{% endblock %}
{% block child_header %}{{ node.header }}{% endblock %}
{% block child_content %}{{ node.prose }}{% endblock %}
