{% extends "document.md.jinja" %}
{% block header %}{% if notes and level <= 1 %}
---
{{notes}}---
{% endif %}{{ header }}{% endblock %}

{% block prose %}{{ prose }}{% endblock %}
{% block child_header %}{{ node.header }}{% endblock %}
{% block child_content %}{% if node.notes and node.level > 1 %}
```yaml
{{ node.notes }}```

{% endif %}{{ node.prose }}{% endblock %}
